---
type Props = {
	compact?: boolean;
};

const { compact = false } = Astro.props;
---

<a class:list={['brand-lockup', compact && 'brand-lockup-compact']} href="/">
	<img
		alt="See It Say It"
		class="brand-logo brand-logo-light"
		height="54"
		loading="eager"
		src="/brand/new/sisi-logo-icon-text-lightmode.svg"
		width="155"
	/>
	<img
		alt="See It Say It"
		class="brand-logo brand-logo-dark"
		height="54"
		loading="eager"
		src="/brand/new/sisi-logo-icon-text-darkmode.svg"
		width="155"
	/>
</a>
