---
import { appConfig } from '../config/app';
import { t } from '../i18n';

type Props = {
	title?: string;
	description?: string;
};

const {
	title = t('meta.title'),
	description = t('meta.description'),
} = Astro.props;
---

<!doctype html>
<html lang={appConfig.defaultLocale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="manifest" href="/manifest.webmanifest" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
